@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}

.container {
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45ff8f, #45ff8f);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.container::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45ff8f, #45ff8f);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.auth-form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form h2 {
    color: #45ff8f;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.auth-form__input-container {
    position: relative;
    width: 296px;
    margin-top: 35px;
}

.auth-form__input-container input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.auth-form__input-container span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.auth-form__input-container input:valid ~ span,
.auth-form__input-container input:focus ~ span {
    color: #45ff8f;
    transform: translateY(-34px);
    font-size: 0.75em;
}

.auth-form__input-container i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45ff8f;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.auth-form__input-container input:valid ~ i,
.auth-form__input-container input:focus ~ i {
    height: 44px;
}

.auth-form__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.auth-form__links a {
    margin: 10px 0;
    font-size: 0.75em;
    color:#8f8f8f;
    text-decoration: none;
}

.auth-form__links a:hover {
    color: #45ff8f;
}

.auth-form__button {
    border: none;
    outline: none;
    background: #45ff8f;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.auth-form__button:hover {
    opacity: 0.9;
}

.auth-form__button:active {
    opacity: 0.7;
}